* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button__purple {
  border: unset;
  background: #5f11e2;
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
}

/* button {
  border: unset;
  background: #5f11e2;
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
}


#button__purple {
  border: unset;
  background: #5f11e2;
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
} */
