*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter";
}
/*#232323*/
/*#FFF*/
/*#2E2E2E*/
/*#1C7ED6*/
/*#C9C9C9*/

body{
    background: #232323;
    color: #fff;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

p,span,label{
    font-size: 1rem;
}

.small{
    font-size: 0.875rem;
}

.w-50{
    width: 50%;
}

.flex{
    display: flex;
}

.mt-10{
    margin-top: 10rem;
}

.ml-4{
    margin-left: 4rem;
}

.mr-4{
    margin-right: 4rem;
}