@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #222;
    color: #fff;
    padding: 2rem;
}

.items{
    margin-left: 2000px;
    background: #fff;
    color: #222;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    padding: 1rem;
    transition: 1s all;
}

.primary{
    padding: 2rem;
    border: 1px solid #fff;
    transition: 1s background;
}

.primary:hover{
    background: #fff;
    color: #222;
}

.secundary{
    padding: 2rem;
    border: 1px solid #222;
    transition: 1s background;
}

.secundary:hover{
    background: #222;
    color: #fff;
}


